<!DOCTYPE html>
{% load static %}
<head>
<link rel="stylesheet" href="{% static 'css/app.css'%}">

    <title> Главная страница </title>
</head>
 <body>
   <div>
       <h1><a href="/">Домашняя страница</a></h1>
         </div>
   <div>
      <h2>Здравствуй, Пользователь!</h2>
        <a href="http://127.0.0.1:8000/lesson/new/"> Добавить предмет</a>
         </div>
 <div class="content container">
     <div class="row">
         <div class="col-md-8">
     {% for lesson in lessons %}
 <div class="post-form">
     <div class="date">
     <h1> Преподователь: <a href=""> {{ lesson.teacher }}</a></h1>
     <h2> Занятие: {{ lesson.lesson_name }}</h2>
     <h3>Занятие пройдет в: {{ lesson.time}}</h3>
         <p>{{ post.text|linebreaksbr }} </p>

       </div>
          {% endfor %}
               </div>
         </div>
     </div>
 </div>

                     </body>

